

* {
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    
}
body{
    margin: 0;
    background: linear-gradient(to right, #030a22, #246eb8);
}
header {
    display: flex;
    background: radial-gradient(circle, #2b0a5c, #0a0225);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}
.myntra_home {
    height: 70px;
}
.logo_container {
    margin-left: 4%;
}
.action_bar {
    margin-right: 4%;
}
.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom: 5px solid rgb(8, 8, 63);
}
.nav_bar a:hover {
    border-bottom: 4px solid rgb(150, 150, 216);
}

.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
    align-items: center;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.footer_container {
    padding: 30px 0px 40px 0px;
    
    display: flex;
    justify-content: space-evenly;
     background: linear-gradient(to right, #07174a, #246eb8);
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #e4e7f5;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #b4bae0;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: #e6e9f8;
    text-align: end;
    padding: 15px;
}


.items-container, .men-container, .women-container, .kid-container, .home-container,.beauty-container,.studio-container,.wishlist-item{
    width: 80%;
    margin: 40px  10% ;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item-container{
    width: 250px;
    margin: 10px;
    background:rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding:10px;
    border-radius: 12px;
    
 
}
.item-container:hover{
    
    box-shadow: 0 5px 20px whitesmoke;

}
.item-img{
    width:100%;
    height: 250px;
    border-radius: 8px;
}
.rating{
    font-size: 12px;
    font-weight: 700;
    color: white;
}
.company-name{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: antiquewhite;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-name{
    color: pink;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}
.price{
    margin-top: 8px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}
.current-price{
    font-size: 14px;
    font-weight: 700;
    color: white;
}
.original-price{
    text-decoration: line-through;
    color: lightpink;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.discount{
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}
.btn-add-bag{
     margin-top: 8px;
     font-size: 18px;
     width:100%;
     background-color: skyblue;
     border: 2px solid black;
     padding: 5px 15px ;
     border-radius: 10px;
     cursor: pointer;
}
.btn-add-bag:hover{
    box-shadow: 0 5px 20px lightcyan;
}
.bag-item-count{
    background-color: rgb(15, 187, 245);
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    top: 0;
    font-weight: 700;
    cursor: pointer;
    right:-5px
}
.action_container {
    text-decoration: none;
    color: black;
    cursor: pointer;
    position: relative;
}
a.action_container:link {
    color:black;
}

.banner_container {
    margin: 40px 0;
}
.banner_image {
    width: 100%;
}

.category_heading {
    text-transform: uppercase;
    color: antiquewhite;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item {
    width: 250px;
}

.app_icons{
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.app_icon{
    height: 42px;
    cursor: pointer;
}

.social_icon{
    display: block;
    gap: 15px;
    margin-top: 10px;
}

.social_icon img{
    height: 20px;
    cursor: pointer;
}

.social_heading{
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    color: white;
}

.btn-remove-wish{
    margin-top: 8px;
     font-size: 18px;
     width:100%;
     background-color: skyblue;
     border: 2px solid black;
     padding: 5px 15px ;
     border-radius: 10px;
     cursor: pointer;
}
.btn-remove-wish:hover{
    box-shadow: 0 5px 20px lightcyan;
}

.filter_container {
    position: relative;
    margin: 15px;
    z-index: 1000;
}
.filter_container button{
    padding: 5px 15px ; border: 2px solid black; border-radius: 10px; font-weight: 600;cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background:radial-gradient(circle, #2b0a5c, #0a0225);
    border: 1px solid #ccc;
    width: 120px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 5px 0;
    border-radius: 4px;
}

.dropdown p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.action_container:hover .dropdown {
    display: block;
}



@media (max-width: 1024px) {
    .item-container {
        width: 45%;
    }
    .search_bar {
        width: 40%;
    }
}

@media (max-width: 768px) {

    body{
        overflow-x: hidden;
    }
    header {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
        width: 100%;
        overflow-x: hidden;
        
    }

    .nav_bar {
        min-width: 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .nav_bar a {
        padding: 10px;
        font-size: 12px;
    }

    .search_bar {
        width: 100%;
        margin: 10px 0;
    }

    .action_bar {
        width: 100%;
        justify-content: space-around;
        margin: 10px 0;
    }

    .item-container {
        width: 100%;
    }

    .item-img {
        height: auto;
    }
    .filter_container button {
         padding: 0 4px;
         border: 1px solid black;
}
       
    .footer_column h3 {
    color: #e4e7f5;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    
}

.footer_column a {
    color: #b4bae0;
    font-size: 13px;
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 10px;
}
.social_icon img{
    height: 20px;
    cursor: pointer;
}

.social_heading{
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
    color: white;
    padding-left: 10px;
}


.app_icon{
    height: 26px;
    cursor: pointer;
}
  
}


@media (max-width: 480px) {

    .nav_bar a {
        font-size: 11px;
    }

    .btn-add-bag,
    .btn-remove-wish {
        font-size: 14px;
    }

    .item-name {
        font-size: 12px;

    }
    .footer_column h3 {
    color: #e4e7f5;
    font-size: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    
}

.footer_column a {
    color: #b4bae0;
    font-size: 10px;
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 10px;
}
.social_icon img{
    height: 17px;
    cursor: pointer;
}

.social_heading{
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
    color: white;
    padding-left: 10px;
}


.app_icon{
    height: 24px;
    cursor: pointer;
}

}

